<!-- Footer -->
<%= yield :scripts %>

<!-- Google Analytics -->
<hr>
<footer>
<p>
	&copy; Bockie! 2012 |
	<%= link_to "Home", "/" %> |
	<%= link_to "About", "/about" %> |
	<%= link_to "FAQ", "/misc" %> |
	<%= link_to "Contact", "/contact" %> |
		<%= link_to "Admin", "/admin/products" %>
</p>
</footer>
